
 
 .name {
    background-color: white;
    color: black;
    height: 81px;
    justify-content: space-between;
    display: flex;

 }

 .subname {

  align-content: center;
 }

 .logo {
  width: 150px;
  object-fit: cover;
 }

 .menu {
  
   justify-content:center;
   align-items: center;
   display:flex;
 }
 .menu p {
   margin-left:15px;
 }

 .line-h {
  margin-left:auto;
  margin-right:auto; 
  height: 2px;
  width: 80vw;
  background: #ddd;
 }


 .content {
    
  display: flex;
  flex-direction: column;
 }



 .content .slogan h1 {

   font-size: 120px;
   line-height:0.80;
   font-size: clamp(40px, 8vw, 140px);
   color: #413f3f;
   font-family:"Hanken Grotesk", Inter, Manrope, Georgia, Serif ;
 }
 .slogan {
   margin-left: 100px;
   align-items: center;
   justify-content: flex-start;
   display:flex;
 }


 .line-v {
   width: 2px;
   height: 400px;
   background: #ddd;
 }

 .presentacion {
  margin-left: 100px;
  margin-top: 70px;
  text-align: center;

  display: flex;  
 }

 .presentacion h1 {
  font-size: 80px; 
  color: #413f3f;
 }
 
.sub-presentation {

  display:flex;
}