 .name {
    background-color: green;
    color: white;
    justify-content: space-between;
    display: flex;
 }

 .subname {
  align-content: center;
 }

 .logo {
  width: 150px;
  object-fit: cover;
 }

 .content {
  
  display: flex;
  flex-direction: column;
 }

 .presentacion {
  text-align: center;
 }
 
