
body {
  margin:0px;
  padding:0px;
  display:flex;
  flex-direction:column;
}

header {
  display:flex;
  flex-shrink:1;
  flex-grow: 1;
  flex-basis:auto;

  justify-content:space-between;
 }
 .name {
   
    color: black;
    height: 81px;
    flex-grow:1;
    flex-shrink:1;
    display: flex;
    gap:32px;

 }

 .subname {

  align-content: flex-end;
 }

 .logo {
  width: 150px;
  object-fit: cover;
 }

 .menu {
  
   justify-content:space-around;
   align-items: center;
   display:flex;
   gap:24px;
   flex-grow:1;
 }
 .menu p {
  text-align:center;
 }

 .line-h {
  margin-left:auto;
  margin-right:2vw; 
  height: 2px;
  width: 90vw;
  background: #ddd;
 }


 .content {
    
  display: flex;
  flex-direction: column;
 }



 .content .slogan h1 {

   font-size: 120px;
   line-height:0.80;
   font-size: clamp(40px, 8vw, 140px);
   color: #413f3f;
   font-family:"Hanken Grotesk", Inter, Manrope, Georgia, Serif ;
 }
 .slogan {
   margin-left: 50px;
   align-items: center;
   justify-content: flex-start;
   display:flex;
   padding:0px;
   gap:32px;
 }


 .line-v {
   width: 2px;
   height: 400px;
   background: #ddd;
   margin-top:20px;
   margin-bottom: 20px;
 }

.presentacion {
   margin-left: 50px;
   align-items: center;
   justify-content: flex-start;
   display:flex;
   padding:0px;
   gap:32px;
   flex-shrink:1;
   
 }

.presentacion h1 {
  font-size: 80px; 
  color: #413f3f;
  font-size: clamp(40px, 8vw, 80px);
  align-self:flex-start;
  line-height:0.80;
  font-family:"Hanken Grotesk", Inter, Manrope, Georgia, Serif ;
 }
 
.sub-presentation {

  display:flex;
  gap:50px;
  align-items:center;
}

.offer {
  display:flex;
  flex-direction:column;
  
}

.offer .header {
  padding-left: 4rem;
}

.offer .header h1 {
  
  font-size: 80px; 
  color: #413f3f;
  font-size: clamp(40px, 8vw, 80px);
  align-self:flex-start;
  line-height:0.80;
  padding-left:1.5rem;
  font-family:"Hanken Grotesk", Inter, Manrope, Georgia, Serif ;
}

.services-list {
  display:flex;
  flex-wrap:wrap;
  gap:1.5rem;
  justify-content:space-around;

}

.serv-container {
  flex-basis:200px;
  height:200px;
  flex-shrink:1;
  border-style:solid;
  box-shadow: 10px 5px 10px #413f3f;
  
}